<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title << " ↫ Skyler Wagner" || "Skyler Wagner" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
	  <section id="primary-header" class="section-grey">
	  <a class="animation-hint-text-onsolid" href="#explain">Explain please?</a>
	  <div class="animation-hint-text">
	  	<%= partial "explainplease" %>
	  </div>
	  <div id="carousel-wrapper">
		  <%= partial "carousel" %>
	  </div>
	  <span class="intro-text">Skyler Wagner lorem integer erat a ante, cenenatis dapibus posuere velit aliquet.</span> 
	  </section>
		<%= yield %>
  </body>
</html>
