<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <a href="/portfolio/">Close</a>
    <h1><%= current_page.data.title %></h1>
    <ul class="categories">
    <% current_page.data.category.each do |cat| %>
        <li>#<%= cat %></li>  
        <% end %>
    </ul>
    <%= yield %>
    <section id="endpage-buttons" class="section-white">
      <ul>
        <li><a href="">View Resume and CV</a></li>
        <li><a href="">Contact Skyler</a></li>
</ul>
</section>
  <span class="skylermadethis">#skylermadethis</span>
  </body>
</html>
