---
title: Portfolio
---
<section id="toggle-buttons" class="section-grey">
  <a href="/.." id="read-bio" class="color2-fg color3-bg cta-lv1-unselected">Read Bio</a>
  <a href="/portfolio/" id="view-portfolio" class="color3-fg color5-bg toggle-button-selected cta-lv1-selected">View Portfolio</a>
</section>
<section id="case-studies" class="section-white">
	Case Studies
 <ul>
	<% sub_pages('casestudy').each do |study| %>
		<li><%= link_to study.data.title, study.url %>
			<ul>
				<% study.data.category.each do |cat| %>
				<li>#<%= cat %></li>	
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
</section>
<section id="projects">
	Projects
<div class="filters">
	Filter: <strong>All Projects</strong>
	<!This should provide a list of unique categories as pulled from the YAML frontmatter on each individual case study and project. code below is just to be used during development for CSS skinning >
	<ul>
		<li><a class="selected-filter" href="#">All Projects</a></li>
		<li><a class="unselected-filter" href="#">Transpose</a></li>
		<li><a class="unselected-filter" href="#">Golden Frog</a></li>
		<li><a class="unselected-filter" href="#">Add'l category</a></li>
		<li><a class="unselected-filter" href="#">Etc</a></li>
</div>
<ul>
	<% sub_pages('project').each do |resource| %>
		<li><%= link_to resource.data.title, resource.url %>
			<span><%= resource.data.description %></span>
			<ul>
				<% resource.data.category.each do |cat| %>
				<li>#<%= cat %></li>	
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>
</section>
<section id="endpage-buttons" class="section-white">
	<ul>
		<li><a href="">View Bio and Resume</a></li>
		<li><a href="">Contact Skyler</a></li>
	</ul>
</section>
